@model object

@{
    ViewBag.Title = "Information";
    Layout = "_Layout";
}

<h2>Небольшие подсказки:</h2>
<p>Для открытия файла или папки нужно дважды кликнуть по нему. </p> 
<p>Для закрытия папки тоже нужно дважды кликнуть по нему. </p> 
<p>Для закрытия файла нужно клинуть крестик рядом с названием файла в области просмотра/редактирования. </p> 
<p>Для сохранения файла нужно клинуть галочку рядом с названием файла в области просмотра/редактирования. </p> 
<p>Для выбора папки нужно выделить одиночным нажатием, после чего появится возможность переименования, создания нового файла или подпапки и удаления. </p>
<p>Размер иконки для нового расширения должна не превышать 8 килобайт. </p>
<p>Что бы у папок были иконки, нужно добавить расширение "folder" с изображением. </p>

